.bg-color {
  height: calc(100vh - 74px);
  background-color: #ede0d4;
  padding-top: 80px;
}

.chat h1 {
  font-size: 74px;
  color: #fff9e6;
  text-shadow: 1px 1px #6d4c41, 2px 2px #6d4c41, 3px 3px #6d4c41,
    4px 4px #6d4c41, 5px 5px #6d4c41;
}

.chat ul {
  height: 570px;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: scroll;
  padding: 0;
}

.chat li {
  margin: 10px;
  padding: 10px;
}

.sent {
  background-color: #ffe6a7;
  align-self: flex-end;
}

.received {
  background-color: #bb9457;
  align-self: flex-start;
}
