.bg-image {
  background-image: url(~/assets/coffee.jpg);
  background-repeat: no-repeat;
  background-color: #c0bbba;
  background-blend-mode: multiply;
  height: calc(100vh - 74px);
  align-items: center;
}

.bg-image h1 {
  font-size: 88px;
  color: #fff9e6;
  text-shadow: 1px 1px #6d4c41, 2px 2px #6d4c41, 3px 3px #6d4c41,
    4px 4px #6d4c41, 5px 5px #6d4c41;
}

.bg-image h2 {
  font-size: 40px;
  color: #f5f5dc;
  margin: 15px auto;
}

.bg-image h4 {
  font-size: 28px;
  color: #f5f5dc;
}
