.sidebar {
  background-color: #7d451b;
  position: absolute;
  border-radius: 4px;
  margin-top: 100px;
}

.rectangle {
  width: 150px;
  height: 30px;
  background-color: #a2622a;
  border-radius: 4px;
  margin-top: 10px;
}

.rectangle:hover {
  background-color: #a98467;
}
