@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.square {
  background-color: rgba(221, 184, 146, 0.7);
  border-radius: 8px;
}
